# Machine Learning Pipeline

1. Task - Understand
2. Data - Look at Source
3. Modeling - Build ML Models from Data
4. Error Measurement - Choose right Error functions for the learning process
5. Training and Optimisation
6. Performance Measurement - of model
7. Validate and Test - model
8. Corrective measures

In [1]:
import tensorflow as tf # for models
import pandas as pd     # for reading and processing data
import seaborn as sns   # for visualization

The dataset we will use is the SECOND HAND CARS DATA SET | REGRESSION dataset on kaggle by Mayank Patel
https://www.kaggle.com/datasets/mayankpatel14/second-hand-used-cars-data-set-linear-regression

In [2]:
data = pd.read_csv('Data/Chap_2_Car_Price_Prediction/train.csv', ',')    # Always correct the path, to where you stored your data 
data.head()

C:\Users\z644252\AppData\Local\Temp\ipykernel_4880\2130619877.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  data = pd.read_csv('Data/Chap_2_Car_Price_Prediction/train.csv', ',')    # Always correct the path, to where you stored your data

,v.id,on road old,on road now,years,km,rating,condition,economy,top speed,hp,torque,current price
0,1,535651,798186,3,78945,1,2,14,177,73,123,351318.0
1,2,591911,861056,6,117220,5,9,9,148,74,95,285001.5
2,3,686990,770762,2,132538,2,8,15,181,53,97,215386.0
3,4,573999,722381,4,101065,4,3,11,197,54,116,244295.5
4,5,691388,811335,6,61559,3,9,12,160,53,105,531114.5

In [3]:
data.shape

(1000, 12)